<html>
<head>
<meta charset="utf-8" />
<title>{% block title %}{% endblock %}</title>
<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojo/dojo.xd.js"  djConfig="parseOnLoad: true"></script>
<script>
{% block script %}
{% endblock %}
    
    dojo.ready(function(){

{% block ready %}{% endblock %}
       
    });
</script>
{% block stylesheets %}
{% endblock %}
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dijit/themes/claro/claro.css"
        />
<style>
{% block styles %}
{% endblock %}
</style>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
